body {
    max-width: 1366px;
    max-height: 825px;
}

.header {
    background-color: #FEF6F3;
}

.quiz-box {
    margin: 146px 0 0 135px
}

.quiz-header ul {
    line-height: 24px;
    width: 214px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    list-style-type: none;
}

.quiz-header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.quiz-header h2 {
    margin-bottom: 40px;
}

.button-test {
    margin: 17px 0 47px 0;

}

.test_button {
    background: #4F68BB;
    color:#FFFFFF;
    cursor: pointer;
}

/* .button-test {
    margin-top: 30px;
    width: 267px;
    height: 56px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    text-align: center;
    background: #F03F5A;
    cursor: pointer;
    border-radius: 30px;
    border: 0;
} */